<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>powermoves</key>
	<array>
		<dict>
			<key>name</key>
			<string>Windmill</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>windmill_step1</string>
				<string>windmill_step2</string>
				<string>windmill_step3</string>
				<string>windmill_step4</string>
				<string>windmill_step5</string>
				<string>windmill_step6</string>
				<string>windmill_step7</string>
				<string>windmill_step8</string>
				<string>windmill_step9</string>
				<string>windmill_step10</string>
				<string>windmill_step11</string>
				<string>windmill_step12</string>
				<string>windmill_step13</string>
				<string>windmill_step14</string>
				<string>windmill_step15</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>50</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>50</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>50</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Babymills</string>
			<key>stepDescription</key>
			<array>
				<string>Description</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>babymills_step1</string>
				<string>babymills_step2</string>
				<string>babymills_step3</string>
				<string>babymills_step4</string>
				<string>babymills_step5</string>
				<string>babymills_step6</string>
				<string>babymills_step7</string>
				<string>babymills_step8</string>
				<string>babymills_step9</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Bellymills</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string>Description</string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>bellymills_step1</string>
				<string>bellymills_step2</string>
				<string>bellymills_step3</string>
				<string>bellymills_step4</string>
				<string>bellymills_step5</string>
				<string>bellymills_step6</string>
				<string>bellymills_step7</string>
				<string>bellymills_step8</string>
				<string>bellymills_step9</string>
				<string>bellymills_step10</string>
				<string>bellymills_step11</string>
				<string>bellymills_step12</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Nutcracker mills</string>
			<key>stepDescription</key>
			<array>
				<string>Description</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>nutcrackermills_step1</string>
				<string>nutcrackermills_step2</string>
				<string>nutcrackermills_step3</string>
				<string>nutcrackermills_step4</string>
				<string>nutcrackermills_step5</string>
				<string>nutcrackermills_step6</string>
				<string>nutcrackermills_step7</string>
				<string>nutcrackermills_step8</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<string>10</string>
				<string>10</string>
				<string>10</string>
				<string>10</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Halos</string>
			<key>stepDescription</key>
			<array>
				<string>description</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>halos_step1</string>
				<string>halos_step2</string>
				<string>halos_step3</string>
				<string>halos_step4</string>
				<string>halos_step5</string>
				<string>halos_step6</string>
				<string>halos_step7</string>
				<string>halos_step8</string>
				<string>halos_step9</string>
				<string>halos_step10</string>
				<string>halos_step11</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>4000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Flares</string>
			<key>stepDescription</key>
			<array>
				<string>description</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>flares_step1</string>
				<string>flares_step2</string>
				<string>flares_step3</string>
				<string>flares_step4</string>
				<string>flares_step5</string>
				<string>flares_step6</string>
				<string>flares_step7</string>
				<string>flares_step8</string>
				<string>flares_step9</string>
				<string>flares_step10</string>
				<string>flares_step11</string>
				<string>flares_step12</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>4000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Elbow Flares</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>elbowflares_step1</string>
				<string>elbowflares_step2</string>
				<string>elbowflares_step3</string>
				<string>elbowflares_step4</string>
				<string>elbowflares_step5</string>
				<string>elbowflares_step6</string>
				<string>elbowflares_step7</string>
				<string>elbowflares_step8</string>
				<string>elbowflares_step9</string>
				<string>elbowflares_step10</string>
				<string>elbowflares_step11</string>
				<string>elbowflares_step12</string>
				<string>elbowflares_step13</string>
				<string>elbowflares_step14</string>
				<string>elbowflares_step15</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Airflares</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>airflares_step1</string>
				<string>airflares_step2</string>
				<string>airflares_step3</string>
				<string>airflares_step4</string>
				<string>airflares_step5</string>
				<string>airflares_step6</string>
				<string>airflares_step7</string>
				<string>airflares_step8</string>
				<string>airflares_step9</string>
				<string>airflares_step10</string>
				<string>airflares_step11</string>
				<string>airflares_step12</string>
				<string>airflares_step13</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Headspins</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>headspin_step1</string>
				<string>headspin_step2</string>
				<string>headspin_step3</string>
				<string>headspin_step4</string>
				<string>headspin_step5</string>
				<string>headspin_step6</string>
				<string>headspin_step7</string>
				<string>headspin_step8</string>
				<string>headspin_step9</string>
				<string>headspin_step10</string>
				<string>headspin_step11</string>
				<string>headspin_step12</string>
				<string>headspin_step13</string>
				<string>headspin_step14</string>
				<string>headspin_step15</string>
				<string>headspin_step16</string>
				<string>headspin_step17</string>
				<string>headspin_step18</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>1</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>500</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>500</integer>
				<integer>2000</integer>
			</array>
		</dict>
	</array>
	<key>combos</key>
	<array>
		<dict>
			<key>name</key>
			<string>Windmill to Flare</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>windmilltoflare_step1</string>
				<string>windmilltoflare_step2</string>
				<string>windmilltoflare_step3</string>
				<string>windmilltoflare_step4</string>
				<string>windmilltoflare_step5</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>600</integer>
				<integer>400</integer>
				<integer>200</integer>
				<integer>400</integer>
				<integer>400</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Flare to Headspin</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>flaretoheadspin_step1</string>
				<string>flaretoheadspin_step2</string>
				<string>flaretoheadspin_step3</string>
				<string>flaretoheadspin_step4</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>200</integer>
				<integer>800</integer>
				<integer>200</integer>
				<integer>800</integer>
			</array>
		</dict>
	</array>
	<key>freezes</key>
	<array>
		<dict>
			<key>name</key>
			<string>Airchair</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>airchair_step1</string>
				<string>airchair_step2</string>
				<string>airchair_step3</string>
				<string>airchair_step4</string>
				<string>airchair_step5</string>
				<string>airchair_step6</string>
				<string>airchair_step7</string>
				<string>airchair_step8</string>
				<string>airchair_step9</string>
				<string>airchair_step10</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>300</integer>
				<integer>600</integer>
				<integer>100</integer>
				<integer>50</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>1500</integer>
				<integer>3000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Double Airchair</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>doubleairchair_step1</string>
				<string>doubleairchair_step2</string>
				<string>doubleairchair_step3</string>
				<string>doubleairchair_step4</string>
				<string>doubleairchair_step5</string>
				<string>doubleairchair_step6</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>600</integer>
				<integer>600</integer>
				<integer>100</integer>
				<integer>300</integer>
				<integer>100</integer>
				<integer>50</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>20</integer>
				<integer>20</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>1000</integer>
				<integer>1500</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>One-arm Handstand</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>onearmhandstand_step1</string>
				<string>onearmhandstand_step2</string>
				<string>onearmhandstand_step3</string>
				<string>onearmhandstand_step4</string>
				<string>onearmhandstand_step5</string>
				<string>onearmhandstand_step6</string>
				<string>onearmhandstand_step7</string>
				<string>onearmhandstand_step8</string>
				<string>onearmhandstand_step9</string>
				<string>onearmhandstand_step10</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>50</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>200</integer>
				<integer>50</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>50</integer>
				<integer>50</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>250</integer>
				<integer>1000</integer>
				<integer>500</integer>
				<integer>2000</integer>
				<integer>250</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>500</integer>
				<integer>250</integer>
				<integer>500</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Hollowback</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>hollowback_step1</string>
				<string>hollowback_step2</string>
				<string>hollowback_step3</string>
				<string>hollowback_step4</string>
				<string>hollowback_step5</string>
				<string>hollowback_step6</string>
				<string>hollowback_step7</string>
				<string>hollowback_step8</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>50</integer>
				<integer>50</integer>
				<integer>50</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>50</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>1</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>500</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Planche</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>planche_step1</string>
				<string>planche_step2</string>
				<string>planche_step3</string>
				<string>planche_step4</string>
				<string>planche_step5</string>
				<string>planche_step6</string>
				<string>planche_step7</string>
				<string>planche_step8</string>
				<string>planche_step9</string>
				<string>planche_step10</string>
				<string>planche_step11</string>
				<string>planche_step12</string>
				<string>planche_step13</string>
				<string>planche_step14</string>
				<string>planche_step15</string>
				<string>planche_step16</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>50</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>1000</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>250</integer>
			</array>
		</dict>
	</array>
	<key>tricks</key>
	<array>
		<dict>
			<key>name</key>
			<string>Hand Hops</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>handhops_step1</string>
				<string>handhops_step2</string>
				<string>handhops_step3</string>
				<string>handhops_step4</string>
				<string>handhops_step5</string>
				<string>handhops_step6</string>
				<string>handhops_step7</string>
				<string>handhops_step8</string>
				<string>handhops_step9</string>
				<string>handhops_step10</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
	</array>
	<key>flips</key>
	<array>
		<dict>
			<key>name</key>
			<string>Backflip</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>backflip_step1</string>
				<string>backflip_step2</string>
				<string>backflip_step3</string>
				<string>backflip_step4</string>
				<string>backflip_step5</string>
				<string>backflip_step6</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>500</integer>
				<integer>500</integer>
				<integer>500</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>20</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1500</integer>
				<integer>1000</integer>
				<integer>2500</integer>
				<integer>1000</integer>
				<integer>500</integer>
				<integer>500</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Aerial Cartwheel</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>aerialCartwheel_step1</string>
				<string>aerialCartwheel_step2</string>
				<string>aerialCartwheel_step3</string>
				<string>aerialCartwheel_step4</string>
				<string>aerialCartwheel_step5</string>
				<string>aerialCartwheel_step6</string>
				<string>aerialCartwheel_step7</string>
				<string>aerialCartwheel_step8</string>
				<string>aerialCartwheel_step9</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>1000</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Webster</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>webster_step1</string>
				<string>webster_step2</string>
				<string>webster_step3</string>
				<string>webster_step4</string>
				<string>webster_step5</string>
				<string>webster_step6</string>
				<string>webster_step7</string>
				<string>webster_step8</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>500</integer>
				<integer>500</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<real>4000</real>
				<real>2000</real>
				<real>1000</real>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Btwist</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>btwist_step1</string>
				<string>btwist_step2</string>
				<string>btwist_step3</string>
				<string>btwist_step4</string>
				<string>btwist_step5</string>
				<string>btwist_step6</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>500</integer>
				<integer>400</integer>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>600</integer>
				<integer>400</integer>
				<integer>500</integer>
				<integer>2000</integer>
				<integer>500</integer>
				<integer>500</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Chun li Flip</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>chunli_step1</string>
				<string>chunli_step2</string>
				<string>chunli_step3</string>
				<string>chunli_step4</string>
				<string>chunli_step5</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Gainerflip</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>gainer_step1</string>
				<string>gainer_step2</string>
				<string>gainer_step3</string>
				<string>gainer_step4</string>
				<string>gainer_step5</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
				<integer>500</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Corkscrew</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>corkscrew_step1</string>
				<string>corkscrew_step2</string>
				<string>corkscrew_step3</string>
				<string>corkscrew_step4</string>
				<string>corkscrew_step5</string>
				<string>corkscrew_step6</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>400</integer>
				<integer>50</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>600</integer>
				<integer>400</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>500</integer>
			</array>
		</dict>
	</array>
	<key>footwork</key>
	<array>
		<dict>
			<key>name</key>
			<string>Footwork by Storm</string>
			<key>atomicStyle</key>
			<array>
				<string>Atomic-Sixstep-Kneespin-Slingshot</string>
				<string>Atomic-Sixstep-Kneewalk</string>
				<string>Atomic-Sixstep-Spin</string>
				<string>Atomic-Sixstep</string>
				<string>Octopus</string>
				<string>Sixstep-Swipe</string>
			</array>
			<key>backbone</key>
			<array>
				<string>Backbone-Swing</string>
				<string>Jumpover-Change Leg-Tap</string>
				<string>Jumpover-Jumpback</string>
				<string>Jumpover-Tap</string>
				<string>Octopus-Comeup</string>
				<string>Twistup-Kickspin-Down</string>
				<string>Twistup</string>
			</array>
			<key>circulating</key>
			<array>
				<string>Floorsalsa-Kneerock</string>
				<string>Floorsalsa</string>
				<string>Forth &amp; Back</string>
				<string>Sixstep-Kneewalk</string>
				<string>Sixstep-Sling</string>
				<string>Sixstep</string>
				<string>Fourstep</string>
				<string>Threestep</string>
				<string>Sevenstep</string>
			</array>
			<key>freezes</key>
			<array>
				<string>Babyfreeze</string>
				<string>Chairfreeze</string>
				<string>Elbow Handstand</string>
				<string>Headstand</string>
				<string>Airbaby</string>
				<string>Handstand</string>
				<string>Rummenigge</string>
			</array>
			<key>godowns</key>
			<array>
				<string>Drop</string>
				<string>Kickspin-High</string>
				<string>Kickspin-Low</string>
				<string>Kneedrop</string>
				<string>Spindown</string>
				<string>Sweep</string>
				<string>Swipedown</string>
				<string>Walk-in</string>
			</array>
			<key>hook&amp;sling</key>
			<array>
				<string>Hook</string>
				<string>Hookcircle-Sling-Change</string>
				<string>Hookwalk</string>
				<string>Peterpan-Full</string>
				<string>Peterpan-Half</string>
				<string>Slingwalk-Sideways</string>
				<string>Slingwalk</string>
			</array>
			<key>inYourFace</key>
			<array>
				<string>Backkick</string>
				<string>Backkick Spin-Kickout</string>
				<string>Backkick Spin</string>
				<string>Jumpover-Jumpback</string>
				<string>Kickout-Backkick</string>
				<string>Kickout-CC (footwork)</string>
				<string>Kickout-CC (standing)</string>
				<string>Kickout-Kickspin-Swing</string>
				<string>Kickout-Swing</string>
				<string>Kickspin</string>
				<string>Kickturn (footwork)</string>
				<string>Kickturn (standing)</string>
				<string>Monkeyswing</string>
			</array>
			<key>misc</key>
			<array>
				<string>Bellyroll-Ninjakick-Comeup</string>
				<string>Bellyroll-Up-Kickout</string>
				<string>Buttslide</string>
				<string>Dolphin</string>
				<string>Handtap</string>
				<string>Hiproll-Handtap</string>
				<string>Lofty</string>
				<string>Sixstep with hands</string>
				<string>Turnover-Footslide</string>
			</array>
			<key>nohanded</key>
			<array>
				<string>Doodlewalk</string>
				<string>Kneespin-Slide-Tuckin</string>
				<string>Kneeswitch-Slide-Tuckin</string>
				<string>Kneeswitch-turn-on-Foot</string>
				<string>Kneeswitch</string>
				<string>Kneewalk-Turn-Kneeswitch</string>
				<string>No hand Sweep</string>
			</array>
			<key>pretzels</key>
			<array>
				<string>Extended Pretzel</string>
				<string>Insideout Pretzel-Walkover</string>
				<string>Insideout Pretzel</string>
				<string>Pretzel-Backswipe</string>
				<string>Pretzel Walkover</string>
				<string>Simple Pretzel</string>
			</array>
		</dict>
	</array>
	<key>misc</key>
	<array>
		<dict>
			<key>name</key>
			<string>Stretching</string>
			<key>legs</key>
			<array>
				<string>stretching_legs_step1</string>
				<string>stretching_legs_step2</string>
				<string>stretching_legs_step3</string>
				<string>stretching_legs_step4</string>
				<string>stretching_legs_step5</string>
				<string>stretching_legs_step6</string>
				<string>stretching_legs_step7</string>
				<string>stretching_legs_step8</string>
				<string>stretching_legs_step9</string>
				<string>stretching_legs_step10</string>
				<string>stretching_legs_step11</string>
				<string>stretching_legs_step12</string>
				<string>stretching_legs_step13</string>
				<string>stretching_legs_step14</string>
				<string>stretching_legs_step15</string>
				<string>stretching_legs_step16</string>
				<string>stretching_legs_step17</string>
				<string>stretching_legs_step18</string>
				<string>stretching_legs_step19</string>
				<string>stretching_legs_step20</string>
				<string>stretching_legs_step21</string>
				<string>stretching_legs_step22</string>
				<string>stretching_legs_step23</string>
				<string>stretching_legs_step24</string>
				<string>stretching_legs_step25</string>
				<string>stretching_legs_step26</string>
				<string>stretching_legs_step27</string>
				<string>stretching_legs_step28</string>
				<string>stretching_legs_step29</string>
			</array>
			<key>back</key>
			<array>
				<string>back_stretching_step1</string>
				<string>back_stretching_step2</string>
				<string>back_stretching_step3</string>
				<string>back_stretching_step4</string>
				<string>back_stretching_step5</string>
			</array>
			<key>arms</key>
			<array>
				<string>arm_stretching_step1</string>
				<string>arm_stretching_step2</string>
				<string>arm_stretching_step3</string>
				<string>arm_stretching_step4</string>
				<string>arm_stretching_step5</string>
				<string>arm_stretching_step6</string>
				<string>arm_stretching_step7</string>
				<string>arm_stretching_step8</string>
				<string>arm_stretching_step9</string>
				<string>arm_stretching_step10</string>
				<string>arm_stretching_step11</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Halfpress Handstand</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>halfpress_handstand_step1</string>
				<string>halfpress_handstand_step2</string>
				<string>halfpress_handstand_step3</string>
				<string>halfpress_handstand_step4</string>
				<string>halfpress_handstand_step5</string>
				<string>halfpress_handstand_step6</string>
				<string>halfpress_handstand_step7</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<string>10</string>
				<string>10</string>
				<string>10</string>
				<string>10</string>
				<string>10</string>
				<string>2</string>
				<string>2</string>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
	</array>
	<key>tools</key>
	<array>
		<dict>
			<key>name</key>
			<string>Footwork Generator</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Increment Counter</string>
		</dict>
	</array>
</dict>
</plist>
