<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>powermoves</key>
	<array>
		<dict>
			<key>name</key>
			<string>Windmill</string>
			<key>stepDescription</key>
			<array>
				<string>What</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>Description</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Babymills</string>
			<key>stepDescription</key>
			<array>
				<string>Description</string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>Video</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Bellymills</string>
			<key>stepDescription</key>
			<array>
				<string>Description</string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>Video</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Nutcracker mills</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Halos</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flares</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Elbow Flares</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Airflares</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Headspins</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hand Hops</string>
		</dict>
	</array>
	<key>combos</key>
	<array>
		<dict>
			<key>name</key>
			<string>Windmill to Flare</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flare to Headspin</string>
		</dict>
	</array>
	<key>freezes</key>
	<array>
		<dict>
			<key>name</key>
			<string>Airchair</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Double Airchair</string>
		</dict>
		<dict>
			<key>name</key>
			<string>One-arm Handstand</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hollowback</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planche</string>
		</dict>
	</array>
	<key>flips</key>
	<array>
		<dict>
			<key>name</key>
			<string>Aerial Cartwheel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Webster</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Raiz Flip</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corkscrew</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gainerflip</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Btwist</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Backflip</string>
		</dict>
	</array>
	<key>misc</key>
	<array>
		<dict>
			<key>name</key>
			<string>Stretching</string>
		</dict>
	</array>
</dict>
</plist>
