<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>powermoves</key>
	<array>
		<dict>
			<key>name</key>
			<string>Windmill</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>windmill_step1</string>
				<string>windmill_step2</string>
				<string>windmill_step3</string>
				<string>windmill_step4</string>
				<string>windmill_step5</string>
				<string>windmill_step6</string>
				<string>windmill_step7</string>
				<string>windmill_step8</string>
				<string>windmill_step9</string>
				<string>windmill_step10</string>
				<string>windmill_step11</string>
				<string>windmill_step12</string>
				<string>windmill_step13</string>
				<string>windmill_step14</string>
				<string>windmill_step15</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>50</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>50</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>50</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Babymills</string>
			<key>stepDescription</key>
			<array>
				<string>Description</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>babymills_step1</string>
				<string>babymills_step2</string>
				<string>babymills_step3</string>
				<string>babymills_step4</string>
				<string>babymills_step5</string>
				<string>babymills_step6</string>
				<string>babymills_step7</string>
				<string>babymills_step8</string>
				<string>babymills_step9</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Bellymills</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string>Description</string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>bellymills_step1</string>
				<string>bellymills_step2</string>
				<string>bellymills_step3</string>
				<string>bellymills_step4</string>
				<string>bellymills_step5</string>
				<string>bellymills_step6</string>
				<string>bellymills_step7</string>
				<string>bellymills_step8</string>
				<string>bellymills_step9</string>
				<string>bellymills_step10</string>
				<string>bellymills_step11</string>
				<string>bellymills_step12</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Nutcracker mills</string>
			<key>stepDescription</key>
			<array>
				<string>Description</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>nutcrackermills_step1</string>
				<string>nutcrackermills_step2</string>
				<string>nutcrackermills_step3</string>
				<string>nutcrackermills_step4</string>
				<string>nutcrackermills_step5</string>
				<string>nutcrackermills_step6</string>
				<string>nutcrackermills_step7</string>
				<string>nutcrackermills_step8</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<string>10</string>
				<string>10</string>
				<string>10</string>
				<string>10</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>stepRepTotal</key>
			<array>
				<string>1000</string>
				<string>1000</string>
				<string>4000</string>
				<string>2000</string>
				<string>2000</string>
				<string>2000</string>
				<string>2000</string>
				<string>2000</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Halos</string>
			<key>stepDescription</key>
			<array>
				<string>description</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>halos_step1</string>
				<string>halos_step2</string>
				<string>halos_step3</string>
				<string>halos_step4</string>
				<string>halos_step5</string>
				<string>halos_step6</string>
				<string>halos_step7</string>
				<string>halos_step8</string>
				<string>halos_step9</string>
				<string>halos_step10</string>
				<string>halos_step11</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>setRepTotal</key>
			<array>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>4000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Flares</string>
			<key>stepDescription</key>
			<array>
				<string>description</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>flares_step1</string>
				<string>flares_step2</string>
				<string>flares_step3</string>
				<string>flares_step4</string>
				<string>flares_step5</string>
				<string>flares_step6</string>
				<string>flares_step7</string>
				<string>flares_step8</string>
				<string>flares_step9</string>
				<string>flares_step10</string>
				<string>flares_step11</string>
				<string>flares_step12</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>4000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Elbow Flares</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>elbowflares_step1</string>
				<string>elbowflares_step2</string>
				<string>elbowflares_step3</string>
				<string>elbowflares_step4</string>
				<string>elbowflares_step5</string>
				<string>elbowflares_step6</string>
				<string>elbowflares_step7</string>
				<string>elbowflares_step8</string>
				<string>elbowflares_step9</string>
				<string>elbowflares_step10</string>
				<string>elbowflares_step11</string>
				<string>elbowflares_step12</string>
				<string>elbowflares_step13</string>
				<string>elbowflares_step14</string>
				<string>elbowflares_step15</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Airflares</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>airflares_step1</string>
				<string>airflares_step2</string>
				<string>airflares_step3</string>
				<string>airflares_step4</string>
				<string>airflares_step5</string>
				<string>airflares_step6</string>
				<string>airflares_step7</string>
				<string>airflares_step8</string>
				<string>airflares_step9</string>
				<string>airflares_step10</string>
				<string>airflares_step11</string>
				<string>airflares_step12</string>
				<string>airflares_step13</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>2000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Headspins</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>headspin_step1</string>
				<string>headspin_step2</string>
				<string>headspin_step3</string>
				<string>headspin_step4</string>
				<string>headspin_step5</string>
				<string>headspin_step6</string>
				<string>headspin_step7</string>
				<string>headspin_step8</string>
				<string>headspin_step9</string>
				<string>headspin_step10</string>
				<string>headspin_step11</string>
				<string>headspin_step12</string>
				<string>headspin_step13</string>
				<string>headspin_step14</string>
				<string>headspin_step15</string>
				<string>headspin_step16</string>
				<string>headspin_step17</string>
				<string>headspin_step18</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>1</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>500</string>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>1000</string>
				<string>500</string>
				<string>2000</string>
			</array>
		</dict>
	</array>
	<key>combos</key>
	<array>
		<dict>
			<key>name</key>
			<string>Windmill to Flare</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>windmilltoflare_step1</string>
				<string>windmilltoflare_step2</string>
				<string>windmilltoflare_step3</string>
				<string>windmilltoflare_step4</string>
				<string>windmilltoflare_step5</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>600</integer>
				<integer>400</integer>
				<integer>200</integer>
				<integer>400</integer>
				<integer>400</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Flare to Headspin</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>flaretoheadspin_step1</string>
				<string>flaretoheadspin_step2</string>
				<string>flaretoheadspin_step3</string>
				<string>flaretoheadspin_step4</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>10</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>200</integer>
				<integer>800</integer>
				<integer>200</integer>
				<integer>800</integer>
			</array>
		</dict>
	</array>
	<key>freezes</key>
	<array>
		<dict>
			<key>name</key>
			<string>Airchair</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>airchair_step1</string>
				<string>airchair_step2</string>
				<string>airchair_step3</string>
				<string>airchair_step4</string>
				<string>airchair_step5</string>
				<string>airchair_step6</string>
				<string>airchair_step7</string>
				<string>airchair_step8</string>
				<string>airchair_step9</string>
				<string>airchair_step10</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>600</integer>
				<integer>300</integer>
				<integer>600</integer>
				<integer>100</integer>
				<integer>50</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>20</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>1500</integer>
				<integer>3000</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Double Airchair</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>doubleairchair_step1</string>
				<string>doubleairchair_step2</string>
				<string>doubleairchair_step3</string>
				<string>doubleairchair_step4</string>
				<string>doubleairchair_step5</string>
				<string>doubleairchair_step6</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>600</integer>
				<integer>600</integer>
				<integer>100</integer>
				<integer>300</integer>
				<integer>100</integer>
				<integer>50</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>20</integer>
				<integer>20</integer>
				<integer>10</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>3000</integer>
				<integer>3000</integer>
				<integer>1000</integer>
				<integer>1500</integer>
				<integer>1000</integer>
				<integer>1000</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>One-arm Handstand</string>
			<key>stepDescription</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>stepVideo</key>
			<array>
				<string>onearmhandstand_step1</string>
				<string>onearmhandstand_step2</string>
				<string>onearmhandstand_step3</string>
				<string>onearmhandstand_step4</string>
				<string>onearmhandstand_step5</string>
				<string>onearmhandstand_step6</string>
				<string>onearmhandstand_step7</string>
				<string>onearmhandstand_step8</string>
				<string>onearmhandstand_step9</string>
				<string>onearmhandstand_step10</string>
			</array>
			<key>stepGoalNumber</key>
			<array>
				<integer>50</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>200</integer>
				<integer>50</integer>
				<integer>200</integer>
				<integer>100</integer>
				<integer>100</integer>
				<integer>50</integer>
				<integer>50</integer>
			</array>
			<key>stepIncrementNumber</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>5</integer>
				<integer>5</integer>
			</array>
			<key>stepRepTotal</key>
			<array>
				<integer>250</integer>
				<integer>1000</integer>
				<integer>500</integer>
				<integer>2000</integer>
				<integer>250</integer>
				<integer>1000</integer>
				<integer>1000</integer>
				<integer>500</integer>
				<integer>250</integer>
				<integer>500</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Hollowback</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Planche</string>
		</dict>
	</array>
	<key>tricks</key>
	<array>
		<dict>
			<key>name</key>
			<string>Hand Hops</string>
			<key>New item</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Half press handstand</string>
		</dict>
	</array>
	<key>flips</key>
	<array>
		<dict>
			<key>name</key>
			<string>Backflip</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aerial Cartwheel (Sidesplit)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Webster (Front Flip)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Raiz Flip (Chun-li)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gainerflip</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corkscrew</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Btwist</string>
		</dict>
	</array>
	<key>misc</key>
	<array>
		<dict>
			<key>name</key>
			<string>Stretching</string>
		</dict>
	</array>
</dict>
</plist>
